<h1>Registration</h1>
<%= form_for('/register') do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
   <div>
     <%= check_box_tag(:accept)%>
     <%= label_tag(:accept, "Click here if you would like to sell something at the Best-Bay") %>
   </div>
    <div class="actions">
      <%= f.submit "Register" %>
      <%= f.submit "Cancel" %>
    </div>
<% end %>
