<header>
  <% logo = image_tag("strikers.gif", :alt => "Best Bay", :class => "round") %>
  <%= link_to logo, root_path %>
  <!--<%= render "layouts/search" %>-->
  <nav class="round">
    <ul>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Login", login_path %></li>
      <li><%= link_to "Register", register_path %></li>
    </ul>
  </nav>
      <%= render "layouts/search" %>
</header>